.error {
  color: red;
  font-size: 4vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 85vh;
  width: 100vw;
  justify-content: center;
 
}

.error-button {
  margin-top: 3vw;
  font-size: 3vw;
  padding: 1vw;
}