.pokemon-container {
  /* padding: 20px; */
  display: flex;
  overflow: auto;
  background-color:lightcyan;
  justify-content: space-around;
  flex-wrap: wrap;
}

.link-styling {
  color: black;
  text-decoration: none;
}

.search-bar-container{
  padding: 2rem;
  background-color: lightcyan;
}

.search-bar {
  width: 25vw;
  padding: 1rem;
  font-size: larger;
}